{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart rm</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
</head>
<body>
    <div class="page-header">
        <div class="one-string top-menu"><a href="{% url 'trash_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></div>
        <div class="one-string"><h1><a href="/" class="top-head">Smart RM</a></h1></div>
        <div class="one-string"><h2><a href="{% url 'file_manager' %}" class="top-head"> Delete </a></h2></div>
        <div class="one-string"><h2><a href="{% url 'regex' %}" class="top-head">Regex</a></h2></div>
        <div class="one-string"><h2><a href="{% url 'tasks_list' %}" class="top-head">Tasks</a></h2></div>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>