{% extends 'base.html' %}

{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
<h4>Choose trash:</h4>
<label><select name="trash_cur">
    {% for trash in trashs %}
        <option value={{ trash.pk }}>{{ trash.name }}{% if trash.dry_run == True %}(dry-run){% endif %}</option>
    {% endfor %}
</select></label>
    <br>
    <br>
    <h4>location: {{ curent_dir }}</h4>
    <a href="{% url 'file_manager' %}?path={{ previos_dir }}" class="back_button">back</a>
    {% for item in files %}
                        {% if item.is_dir %}
                            <div class="file-element">
                                <label><input type="checkbox" name="selected_files" value="{{ item.get_path }}"></label>
                                <span class="glyphicon glyphicon-folder-close"></span>
                                <a href="{% url 'file_manager' %}?path={{ item.get_path|urlencode }}">
                                    {{ item.get_name }}
                                </a>
                            </div>
                        {% else %}
                            <div class="file-element">
                                <label><input type="checkbox" name="selected_files" value="{{ item.get_path }}"></label>
                                <span class="glyphicon glyphicon-file" ></span>
                                {{ item.get_name }}  ({{ item.get_size }} b)
                            </div>
                        {% endif %}
    {% endfor %}
    <input type="hidden" name="action" value="delete">
                <div class="col-lg-12">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </div>
</form>
{% endblock %}