{% extends 'base.html' %}

{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
<h4>Choose trash:</h4>
<label><select name="trash_cur">
    {% for trash in trashs %}
        <option value={{ trash.pk }}>{{ trash.name }} {% if trash.dry_run == True %}(dry-run){% endif %}</option>
    {% endfor %}
</select></label>
    <h4>Regular expressions:</h4>
    <label><input name="regular"></label>
    <h4>Path:</h4>
    <label><input name="path_reg"></label>
<button class="btn btn-danger" type="submit">Run</button>
</form>
{% endblock %}