{% extends 'base.html' %}

{% block content %}
    {% for task in tasks %}
        <div>
            <h2>{{ task.task_status }}</h2>
            <div>
                <p>action: {{ task.action }}</p>
                <p>trash: {{ task.trash_obj.name }}</p>
                {% if task.action == "delete regex" %}
                    <h4>from path "{{ task.files }}" by regex '{{ task.regex }}'</h4>
                {% elif task.action == 'clear trash' %}
                    <h4>remove all files from trash</h4>
                {% else %}
                    <h4>files:</h4>
                    {% for file in task.files.split %}
                        <p>{{ file }}</p>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    {% endfor %}
    <form method="POST" class="post-form">{% csrf_token %}
        <button name="del_tasks">clear</button>
    </form>
{% endblock content %}