{% extends 'base.html' %}

{% block content %}
    <form method="POST" class="post-form">{% csrf_token %}
    <div class="post">
        <h1>{{ trash.name }}</h1>
        <button name="delete" type="submit" class="save btn btn-default">delete</button>
        <button name="change" type="submit" class="save btn btn-default">change</button>
            <div class="date">
                size: {{ trash.cur_size }} / {{ trash.size }} kB<br>
                path: {{ trash.path_trash|linebreaksbr }}<br>
                policy delete: {{ trash.policy_delete }}<br>
                dry-run: {{ trash.dry_run }}
            </div>
    </div>
        <p>Содержимое корзины</p>
        {% for item in list_dir %}
                        {% if item.is_dir %}
                            <div class="file-element">
                                <label><input type="checkbox" name="selected_files" value="{{ item.get_path }}"></label>
                                <span class="glyphicon glyphicon-folder-close"></span>
                                    {{ item.get_name }}
                            </div>
                        {% else %}
                            <div class="file-element">
                                <label><input type="checkbox" name="selected_files" value="{{ item.get_path }}"></label>
                                <span class="glyphicon glyphicon-file" ></span>
                                    {{ item.get_name }}
                            </div>
                        {% endif %}
        {% endfor %}

    <button name="restore" type="submit">Restore</button>
    <button name="restoreall" type="submit">Restore All</button>
    <button name="remove" type="submit">Remove</button>
    <button name="removeall" type="submit">Remove all</button>

    </form>
{% endblock %}