{% extends 'base.html' %}

{% block content %}
    {% for trash in trashs %}
        <div class="post">
            <h1><a href="{% url 'trash_detail' pk=trash.pk %}">{{ trash.name }}</a></h1>
            <div class="date">
                {{ trash.cur_size }} / {{ trash.size }} kB
            </div>
            <p>{{ trash.path_trash|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}