{% extends 'base.html' %}

{% block content %}
    <h1>New trash</h1>
    <div class="new-trash">
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
{%  endblock %}