{% extends 'base.html' %}

{% block content %}
    <h1>Change trash</h1>
        <div class="new-trash">
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Change</button>
        </form>
        </div>
{%  endblock %}