 .page-header {
        background-color: #ff9400;
        margin-top: 0;
        padding: 1px;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36pt;
        padding: 10px;
        overflow: hidden;
    }

    .page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
        color: #ffffff;
        font-size: 30pt;
        padding: 10px;
        overflow: hidden;
    }


    .content {
        margin-left: 40px;
    }

    h1, h2, h3, h4 {
        font-family: 'Lobster', cursive;
    }

    .save {
        float: right;
    }

    .post-form textarea, .post-form input {
        width: 100%;
    }

    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #ffffff;
        float: right;
        font-size: 26pt;
        margin: 10px;
    }

    .top-head {
        float: left;
    }

    div .one-string {
        display: inline-block;
    }

    .post {
        margin-bottom: 70px;
    }

    .post h1 a, .post h1 a:visited {
        color: #000000;
    }

    .back_button {
        color: #dc1124;
        padding-left: 30px;
    }

    .new-trash {
        width: 30%;
        text-align: left;
    }